h3{
    font-size: 30px;
    text-decoration: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.blog{
    margin: 50px;
    border: 10px solid tomato;

    box-shadow: 10px 10px 20px violet;
}

.spa{
    border: 3px solid purple;
    margin: 20px;
    padding: 5px;
}


.list{
    border: 10px solid blue;
}

.header{
    height: 200px;
    background-color: bisque;
    /* background-image: url('home.png'); */
    background-image: url('../images/Sabbir.jpg');
    background-repeat: no-repeat;
    /* background-repeat: repeat-x; */
    /* background-size: cover; */
    background-size: contain;
}